// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/Epilogue-Italic-VariableFont_wght.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/Epilogue-VariableFont_wght.ttf') format('ttf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.bg-blue{
  background-color: #003049;
}

.icons {
    a {
        border-radius: 50%;
        min-width: 37px;
        border-width: .125rem;
    }
}

.title {
  @extend .text-center;
  color: azure;
  font-family: 'Epilogue', Helvetica, Arial, sans-serif;

  &-i{
    @extend .title;
    font-style: oblique 30deg;
  }

  h1{
    font-size: 55px;
  }
  h2 {
    font-size: 1.5em;
  }
}

.blur{
  background-color:rgba(0,0,0,0.2);
}

.cta {
  background-image: url('./assets/images/cta.png');
  width: 100%;
  height: 700px;
  background-position: center -150px;
  background-repeat: no-repeat;
  background-size: cover;
  &-contact {

    h1 {
      color: #000;
    }
  }
}

.contact-info {
  background-color: #EAE2B7;
  min-height: 700px;
}

.profile-image {
  border-radius: 50%;
  width: 75%;
}

.about {
  #about-section {
    font-size: 22px;
    background-color: #370617;
    article {
      font-style: normal;
      font-family: 'Epilogue', Helvetica, Arial, sans-serif;
      color: azure;
    }
  }
}
nav{
  font-size: 35px;
  .brand{
    font-size: 35px;
  }
  height:auto;
  padding: auto;
}